USE [master]
GO
/****** Object:  Database [UkayDB]    Script Date: 03/10/2025 10:35:45 am ******/
CREATE DATABASE [UkayDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UkayDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\UkayDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UkayDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\UkayDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UkayDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UkayDB]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 03/10/2025 10:35:45 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ItemType] [varchar](128) NULL,
	[Stock] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Product] ([ItemType], [Stock]) VALUES (N'Shoes', 20)
INSERT [dbo].[Product] ([ItemType], [Stock]) VALUES (N'Jeans', 100)
INSERT [dbo].[Product] ([ItemType], [Stock]) VALUES (N'Pants', 100)
GO
USE [master]
GO
