USE [UkayDB]
GO
ALTER TABLE [dbo].[Transactions] DROP CONSTRAINT [FK_Transactions_Users]
GO
ALTER TABLE [dbo].[TransactionItems] DROP CONSTRAINT [FK_TransactionItems_Transactions]
GO
ALTER TABLE [dbo].[Transactions] DROP CONSTRAINT [DF__Transacti__Trans__4222D4EF]
GO
ALTER TABLE [dbo].[Transactions] DROP CONSTRAINT [DF__Transacti__DateC__412EB0B6]
GO
ALTER TABLE [dbo].[Transactions] DROP CONSTRAINT [DF__Transacti__Statu__403A8C7D]
GO
ALTER TABLE [dbo].[Transactions] DROP CONSTRAINT [DF__Transacti__Total__3F466844]
GO
ALTER TABLE [dbo].[Transactions] DROP CONSTRAINT [DF__Transacti__Trans__3E52440B]
GO
ALTER TABLE [dbo].[TransactionItems] DROP CONSTRAINT [DF__Transacti__Total__47DBAE45]
GO
ALTER TABLE [dbo].[TransactionItems] DROP CONSTRAINT [DF__Transacti__Price__46E78A0C]
GO
ALTER TABLE [dbo].[TransactionItems] DROP CONSTRAINT [DF__Transacti__Quant__45F365D3]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__Regula__3B75D760]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__Stock__3A81B327]
GO
ALTER TABLE [dbo].[Expenses] DROP CONSTRAINT [DF__Expenses__Catego__6EF57B66]
GO
ALTER TABLE [dbo].[Expenses] DROP CONSTRAINT [DF__Expenses__Status__6E01572D]
GO
/****** Object:  Index [UQ__Users__536C85E41BF79BD6]    Script Date: 21/11/2025 12:05:45 am ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UQ__Users__536C85E41BF79BD6]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21/11/2025 12:05:45 am ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 21/11/2025 12:05:45 am ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Transactions]') AND type in (N'U'))
DROP TABLE [dbo].[Transactions]
GO
/****** Object:  Table [dbo].[TransactionItems]    Script Date: 21/11/2025 12:05:45 am ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TransactionItems]') AND type in (N'U'))
DROP TABLE [dbo].[TransactionItems]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 21/11/2025 12:05:45 am ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[Expenses]    Script Date: 21/11/2025 12:05:45 am ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Expenses]') AND type in (N'U'))
DROP TABLE [dbo].[Expenses]
GO
/****** Object:  Table [dbo].[Expenses]    Script Date: 21/11/2025 12:05:45 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses](
	[ExpenseID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[AddedBy] [nvarchar](50) NOT NULL,
	[DueDate] [date] NULL,
	[Status] [varchar](20) NULL,
	[PaidDate] [date] NULL,
	[Category] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExpenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 21/11/2025 12:05:46 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](64) NOT NULL,
	[Stock] [int] NOT NULL,
	[RegularPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionItems]    Script Date: 21/11/2025 12:05:46 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionItems](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionID] [int] NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 21/11/2025 12:05:46 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionDate] [datetime] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[Remarks] [varchar](255) NULL,
	[TransactionType] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21/11/2025 12:05:46 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Expenses] ON 

INSERT [dbo].[Expenses] ([ExpenseID], [Date], [Description], [Amount], [AddedBy], [DueDate], [Status], [PaidDate], [Category]) VALUES (9, CAST(N'2025-11-20T19:34:48.477' AS DateTime), N'Electricity', CAST(200.00 AS Decimal(18, 2)), N'admin', CAST(N'2025-12-03' AS Date), N'Paid', CAST(N'2025-11-20' AS Date), N'Utilities')
INSERT [dbo].[Expenses] ([ExpenseID], [Date], [Description], [Amount], [AddedBy], [DueDate], [Status], [PaidDate], [Category]) VALUES (10, CAST(N'2025-11-20T21:04:51.737' AS DateTime), N'Water Bill', CAST(158.00 AS Decimal(18, 2)), N'admin', CAST(N'2025-12-03' AS Date), N'Unpaid', NULL, N'Utilities')
INSERT [dbo].[Expenses] ([ExpenseID], [Date], [Description], [Amount], [AddedBy], [DueDate], [Status], [PaidDate], [Category]) VALUES (11, CAST(N'2025-11-20T22:06:09.237' AS DateTime), N'Cashier salary', CAST(600.00 AS Decimal(18, 2)), N'admin', CAST(N'2025-11-22' AS Date), N'Unpaid', NULL, N'Salaries')
SET IDENTITY_INSERT [dbo].[Expenses] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [Stock], [RegularPrice]) VALUES (17, N'Shoes', 99, CAST(500.00 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([ProductID], [ProductName], [Stock], [RegularPrice]) VALUES (18, N'T-Shirt', 94, CAST(79.00 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([ProductID], [ProductName], [Stock], [RegularPrice]) VALUES (19, N'Pants', 70, CAST(99.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionItems] ON 

INSERT [dbo].[TransactionItems] ([ItemID], [TransactionID], [ProductName], [Quantity], [Price], [Total]) VALUES (1, 1, N'T-Shirt', 3, CAST(100.00 AS Decimal(10, 2)), CAST(300.00 AS Decimal(10, 2)))
INSERT [dbo].[TransactionItems] ([ItemID], [TransactionID], [ProductName], [Quantity], [Price], [Total]) VALUES (2, 2, N'Shoes', 2, CAST(299.00 AS Decimal(10, 2)), CAST(598.00 AS Decimal(10, 2)))
INSERT [dbo].[TransactionItems] ([ItemID], [TransactionID], [ProductName], [Quantity], [Price], [Total]) VALUES (3, 3, N'T-Shirt', 97, CAST(100.00 AS Decimal(10, 2)), CAST(9700.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[TransactionItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([TransactionID], [TransactionDate], [Username], [TotalAmount], [PaymentMethod], [Status], [DateCreated], [Remarks], [TransactionType]) VALUES (1, CAST(N'2025-11-13T13:13:57.377' AS DateTime), N'Admin', CAST(300.00 AS Decimal(10, 2)), N'GCash', N'Completed', CAST(N'2025-11-13T13:13:57.380' AS DateTime), NULL, N'Sale')
INSERT [dbo].[Transactions] ([TransactionID], [TransactionDate], [Username], [TotalAmount], [PaymentMethod], [Status], [DateCreated], [Remarks], [TransactionType]) VALUES (2, CAST(N'2025-11-14T11:49:24.450' AS DateTime), N'Admin', CAST(598.00 AS Decimal(10, 2)), N'Cash', N'Completed', CAST(N'2025-11-14T11:49:24.447' AS DateTime), N'Shoes', N'Sale')
INSERT [dbo].[Transactions] ([TransactionID], [TransactionDate], [Username], [TotalAmount], [PaymentMethod], [Status], [DateCreated], [Remarks], [TransactionType]) VALUES (3, CAST(N'2025-11-14T12:34:54.213' AS DateTime), N'Admin', CAST(9700.00 AS Decimal(10, 2)), N'Cash', N'Completed', CAST(N'2025-11-14T12:34:54.220' AS DateTime), NULL, N'Sale')
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash]) VALUES (1, N'admin', N'9323dd6786ebcbf3ac87357cc78ba1abfda6cf5e55cd01097b90d4a286cac90e')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E41BF79BD6]    Script Date: 21/11/2025 12:05:46 am ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Expenses] ADD  DEFAULT ('Paid') FOR [Status]
GO
ALTER TABLE [dbo].[Expenses] ADD  DEFAULT ('Operational') FOR [Category]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0.00)) FOR [RegularPrice]
GO
ALTER TABLE [dbo].[TransactionItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[TransactionItems] ADD  DEFAULT ((0.00)) FOR [Price]
GO
ALTER TABLE [dbo].[TransactionItems] ADD  DEFAULT ((0.00)) FOR [Total]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((0.00)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ('Completed') FOR [Status]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ('Sale') FOR [TransactionType]
GO
ALTER TABLE [dbo].[TransactionItems]  WITH CHECK ADD  CONSTRAINT [FK_TransactionItems_Transactions] FOREIGN KEY([TransactionID])
REFERENCES [dbo].[Transactions] ([TransactionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TransactionItems] CHECK CONSTRAINT [FK_TransactionItems_Transactions]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Users] FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Users]
GO
