USE [UkayDB]
GO
ALTER TABLE [dbo].[Transactions] DROP CONSTRAINT [FK_Transactions_Users]
GO
ALTER TABLE [dbo].[TransactionItems] DROP CONSTRAINT [FK_TransactionItems_Transactions]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__IsDisable__02084FDA]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__Role__01142BA1]
GO
ALTER TABLE [dbo].[Transactions] DROP CONSTRAINT [DF__Transacti__Trans__4222D4EF]
GO
ALTER TABLE [dbo].[Transactions] DROP CONSTRAINT [DF__Transacti__DateC__412EB0B6]
GO
ALTER TABLE [dbo].[Transactions] DROP CONSTRAINT [DF__Transacti__Statu__403A8C7D]
GO
ALTER TABLE [dbo].[Transactions] DROP CONSTRAINT [DF__Transacti__Total__3F466844]
GO
ALTER TABLE [dbo].[Transactions] DROP CONSTRAINT [DF__Transacti__Trans__3E52440B]
GO
ALTER TABLE [dbo].[TransactionItems] DROP CONSTRAINT [DF__Transacti__Total__47DBAE45]
GO
ALTER TABLE [dbo].[TransactionItems] DROP CONSTRAINT [DF__Transacti__Price__46E78A0C]
GO
ALTER TABLE [dbo].[TransactionItems] DROP CONSTRAINT [DF__Transacti__Quant__45F365D3]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__Regula__3B75D760]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__Stock__3A81B327]
GO
ALTER TABLE [dbo].[Expenses] DROP CONSTRAINT [DF__Expenses__Catego__6EF57B66]
GO
ALTER TABLE [dbo].[Expenses] DROP CONSTRAINT [DF__Expenses__Status__6E01572D]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21/11/2025 12:18:57 pm ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 21/11/2025 12:18:57 pm ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Transactions]') AND type in (N'U'))
DROP TABLE [dbo].[Transactions]
GO
/****** Object:  Table [dbo].[TransactionItems]    Script Date: 21/11/2025 12:18:57 pm ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TransactionItems]') AND type in (N'U'))
DROP TABLE [dbo].[TransactionItems]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 21/11/2025 12:18:57 pm ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[Expenses]    Script Date: 21/11/2025 12:18:57 pm ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Expenses]') AND type in (N'U'))
DROP TABLE [dbo].[Expenses]
GO
USE [master]
GO
/****** Object:  Database [UkayDB]    Script Date: 21/11/2025 12:18:57 pm ******/
DROP DATABASE [UkayDB]
GO
/****** Object:  Database [UkayDB]    Script Date: 21/11/2025 12:18:57 pm ******/
CREATE DATABASE [UkayDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UkayDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\UkayDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UkayDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\UkayDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UkayDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UkayDB]
GO
/****** Object:  Table [dbo].[Expenses]    Script Date: 21/11/2025 12:18:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses](
	[ExpenseID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[AddedBy] [nvarchar](50) NOT NULL,
	[DueDate] [date] NULL,
	[Status] [varchar](20) NULL,
	[PaidDate] [date] NULL,
	[Category] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExpenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 21/11/2025 12:18:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](64) NOT NULL,
	[Stock] [int] NOT NULL,
	[RegularPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionItems]    Script Date: 21/11/2025 12:18:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionItems](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionID] [int] NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 21/11/2025 12:18:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionDate] [datetime] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[Remarks] [varchar](255) NULL,
	[TransactionType] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21/11/2025 12:18:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[IsDisabled] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Expenses] ADD  DEFAULT ('Paid') FOR [Status]
GO
ALTER TABLE [dbo].[Expenses] ADD  DEFAULT ('Operational') FOR [Category]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0.00)) FOR [RegularPrice]
GO
ALTER TABLE [dbo].[TransactionItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[TransactionItems] ADD  DEFAULT ((0.00)) FOR [Price]
GO
ALTER TABLE [dbo].[TransactionItems] ADD  DEFAULT ((0.00)) FOR [Total]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((0.00)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ('Completed') FOR [Status]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ('Sale') FOR [TransactionType]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[TransactionItems]  WITH CHECK ADD  CONSTRAINT [FK_TransactionItems_Transactions] FOREIGN KEY([TransactionID])
REFERENCES [dbo].[Transactions] ([TransactionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TransactionItems] CHECK CONSTRAINT [FK_TransactionItems_Transactions]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Users] FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Users]
GO
USE [master]
GO
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role], [IsDisabled]) VALUES (1, N'admin', N'9323dd6786ebcbf3ac87357cc78ba1abfda6cf5e55cd01097b90d4a286cac90e', N'Admin', 0)
GO
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role], [IsDisabled]) VALUES (2, N'employee123', N'5994471abb01112afcc18159f6cc74b4f511b99806da59b3caf5a9c173cacfc5', N'Employee', 0)
