-- Drop database if exists
IF EXISTS (SELECT * FROM sys.databases WHERE name = 'UkayDB')
BEGIN
    ALTER DATABASE [UkayDB] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [UkayDB];
END
GO

-- Create database
CREATE DATABASE [UkayDB];
GO

USE [UkayDB];
GO

-- Create Users table
CREATE TABLE Users (
    UserID INT IDENTITY(1,1) PRIMARY KEY,
    Username NVARCHAR(50) NOT NULL UNIQUE,
    PasswordHash NVARCHAR(256) NOT NULL,
    Role VARCHAR(20) NOT NULL DEFAULT 'User',
    IsDisabled BIT NOT NULL DEFAULT 0
);
GO

-- Create Products table
CREATE TABLE Products (
    ProductID INT IDENTITY(1,1) PRIMARY KEY,
    ProductName NVARCHAR(64) NOT NULL,
    Stock INT NOT NULL DEFAULT 0,
    RegularPrice DECIMAL(10,2) NOT NULL DEFAULT 0.00
);
GO

-- Create Transactions table
CREATE TABLE Transactions (
    TransactionID INT IDENTITY(1,1) PRIMARY KEY,
    TransactionDate DATETIME NOT NULL DEFAULT GETDATE(),
    Username NVARCHAR(50) NOT NULL,
    TotalAmount DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    PaymentMethod NVARCHAR(50) NULL,
    Status NVARCHAR(50) NOT NULL DEFAULT 'Completed',
    DateCreated DATETIME NOT NULL DEFAULT GETDATE(),
    Remarks VARCHAR(255) NULL,
    TransactionType VARCHAR(50) NOT NULL DEFAULT 'Sale'
);
GO

-- Create TransactionItems table
CREATE TABLE TransactionItems (
    ItemID INT IDENTITY(1,1) PRIMARY KEY,
    TransactionID INT NOT NULL,
    ProductName NVARCHAR(100) NOT NULL,
    Quantity INT NOT NULL DEFAULT 1,
    Price DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    Total DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    FOREIGN KEY (TransactionID) REFERENCES Transactions(TransactionID) ON DELETE CASCADE
);
GO

-- Create Expenses table
CREATE TABLE Expenses (
    ExpenseID INT IDENTITY(1,1) PRIMARY KEY,
    Date DATETIME NOT NULL,
    Description NVARCHAR(255) NOT NULL,
    Amount DECIMAL(18,2) NOT NULL,
    AddedBy NVARCHAR(50) NOT NULL,
    DueDate DATE NULL,
    Status VARCHAR(20) DEFAULT 'Paid',
    PaidDate DATE NULL,
    Category VARCHAR(50) DEFAULT 'Operational'
);
GO

ALTER TABLE Transactions
ADD CONSTRAINT FK_Transactions_Users FOREIGN KEY (Username)
REFERENCES Users(Username);

GO
INSERT INTO Users (Username, PasswordHash, Role, IsDisabled) VALUES (N'admin', N'9323dd6786ebcbf3ac87357cc78ba1abfda6cf5e55cd01097b90d4a286cac90e', N'Admin', 0)
GO
INSERT INTO Users (Username, PasswordHash, Role, IsDisabled) VALUES (2, N'employee123', N'5994471abb01112afcc18159f6cc74b4f511b99806da59b3caf5a9c173cacfc5', N'Employee', 0)
